<div class="bar">
    <span>登录用户：<%= username %></span>
    <a href="/users/logout">退出</a>
    <a href="/sendcmd">指令下发</a>
    <a href="/sensordata">数据统计</a>
    
    <a href="/" class="home">
        <img src="/images/home.png" alt="回到首页"/> 
    </a>
</div>